python
annotated-types
anyio
cffi
click
colorama
fastapi
h11
idna
jwt
mysql-connector
mysql-connector-python
pip
protobuf
pycparser
pydantic
pydantic_core
pyodbc
sniffio
starlette
typing
typing_extensions
uvicorn
PyJWT